body {
  background: #f3f3f3;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
  
.calculator {
  width: 255px;
  padding: 15px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}
  
#display {
  width: 100%;
  height: 60px;
  background-color: #000;
  color: #fff;
  font-size: 24px;
  border: none;
  border-radius: 8px;
  text-align: left;
  padding-right: 0px;
  margin-bottom: 20px;
  box-sizing: border-box;
}
  
#buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}

button {
  padding: 15px;
  font-size: 20px;
  background-color: #eee;
  border: none;
  border-radius: 8px;
}

.op {
  background: #2563eb;
  color: white;
}

#clear {
  background: #ef4444;
  color: white;
}

#equals {
  background: #10b981;
  color: white;
}

  