body {
    font-family: Arial, sans-serif;
    text-align: center;
    background: linear-gradient(to right, #f89f11, #ffffff, #004f1d);
    padding: 30px;
}

h1, h2 {
    margin-bottom: 20px;
    color: #080258; 
}

.form-container {
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    width: 350px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.form-container input {
    width: 90%;
    padding: 8px;
    margin: 8px 0 15px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 18px;
    background-color: #2463ac;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 8px;
}

button:hover {
    background-color: #020146;
}

table {
    width: 70%;
    margin: 25px auto;
    border-collapse: collapse;
    background: white;
}

th, td {
    border: 1px solid #ccc;
    padding: 12px;
}

th {
    background-color: #ddd;
}
